
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>จัดการวันหยุดพิเศษ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p-growl [(value)]="msgs" styleClass="registerGrowl" life="3000"></p-growl>
    <p-panel header="จัดการข้อมูลเมนู" [toggleable]="true"  [style]="{'margin-bottom':'20px'}">

      <form [formGroup]="holidayform" (ngSubmit)="onSubmit(holidayform.value)">

          <app-button-control *ngIf="Button_Add=='true'" type="submit" class="ui-button-primary" icon="fa-check" label="{{btnLabel}}" [disabled]="!holidayform.valid"></app-button-control>
          <button pButton type="button" icon="fa fa-refresh" class="ui-button-warning" label="รีเซ็ตข้อมูล" (click)="onResetForm()">
          </button>          
          <button pButton *ngIf="isModify" type="button" class="ui-button-danger" icon="fa-close" label="ยกเลิก" (click)="cancleUpdate()"></button>


          <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="">

              <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                      ชื่อวันหยุด :
                  </div>
                  <div class="ui-grid-col-5">
                      <input pInputText type="text" formControlName="referenceHoliday" placeholder="Required" />
                  </div>
                  <div class="ui-grid-col-7">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!holidayform.controls['referenceHoliday'].valid&&holidayform.controls['referenceHoliday'].dirty">
                          <i class="fa fa-close"></i> holidayDate Name is required
                      </div>
                  </div>
              </div>

              <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                      วันที่หยุด :
                  </div>
                  <div class="ui-grid-col-5">
                      <input pInputText type="text" formControlName="holidayDate" placeholder="Required" />
                  </div>
                  <div class="ui-grid-col-7">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!holidayform.controls['holidayDate'].valid&&holidayform.controls['holidayDate'].dirty">
                          <i class="fa fa-close"></i> holidayDate  is required 
                      </div>
                  </div>
              </div>
              
              <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                      หมายเหตุ :
                  </div>
                  <div class="ui-grid-col-5">
                      <input pInputText type="text" formControlName="description" placeholder="Required" />
                  </div>
                  <div class="ui-grid-col-7">
                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!holidayform.controls['description'].valid&&holidayform.controls['description'].dirty">
                          <i class="fa fa-close"></i> holidayDate  is required 
                      </div>
                  </div>
              </div>
              
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2">
                      สถานะ:
                  </div>
                  
                  <div class="ui-grid-col-5">
                          <p-inputSwitch formControlName="activeFlag" onLabel="ใช้งาน" offLabel="ไม่ใช้งาน" ></p-inputSwitch>
                      
                  </div> 
                  <div class="ui-grid-col-7"></div>
              </div>
          </div> 
      </form>  
      <br>

  </p-panel>

  <p-panel header="ข้อมูลวันหยุดพิเศษ" [toggleable]="true" [style]="{'margin-bottom':'20px'}"> 
      <p-dataTable [value]="holiday" [rows]="20"  
              [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[1,5,10,20]"  
              [globalFilter]="gb" 
              [stacked]="stacked"
              [(selection)]="selectedholiday" dataKey="id"  
              [lazy]="true"  [totalRecords]="totalRecords" (onLazyLoad)="loadLazy($event)"  
              >
              
                  
              
              <p-header>ตารางข้อมูลวันหยุดพิเศษ</p-header>
          <p-column styleClass="col-button" [style]="{'width': '50px'}">
              <ng-template pTemplate="header">
                <app-button-control *ngIf="Button_Remove=='true'" type="button" class="ui-button-danger" icon="fa-trash"  (onClick)="onRemove()"></app-button-control>
                  <!-- <button *ngIf="Button_Remove=='true'" type="button" pButton icon="fa-trash" class="ui-button-danger" (click)="onRemove()"></button> -->
                </ng-template>
              <ng-template let-holidays="rowData" pTemplate="body">
                  <!-- <button *ngIf="Button_Edit=='true'" type="button" pButton icon="fa-edit" class="ui-button-success" (click)="selectMenu(menus)"></button> -->
                  <app-button-control *ngIf="Button_Edit=='true'" type="button" class="ui-button-success" icon="fa-edit"  (onClick)="select(holidays)"></app-button-control>
              </ng-template>
          </p-column>
          
          <p-column [style]="{'width':'38px'}" selectionMode="multiple" ></p-column>
          <p-column field="holidayId"            header="ไอดี เมนู"         [sortable]="true" [filter]="true" filterPlaceholder="Search" [hidden]="true"></p-column>
          <p-column field="referenceHoliday"     header="ชื่อวันหยุด"       [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
          <p-column field="holidayDate"          header="วันที่หยุด"      [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
          <p-column field="description"          header="หมายเหตุ"      [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
          
          <p-column field="activeFlag"    header="สถานะการใช้งาน" [sortable]="true" >
                  <ng-template let-col let-pthCol="rowData" pTemplate="body">                   
                      <div *ngIf="pthCol[col.field];then content else other_content">ไม่พบข้อมูล</div>                   
                      <ng-template #content>ใช้งาน</ng-template>
                      <ng-template #other_content>ไม่ใช้งาน</ng-template>
                  </ng-template>
          </p-column>

          
      </p-dataTable> 
      
  <br>
  </p-panel>

</ion-content>
