
<!--
  Generated template for the ApproveTypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar>
          <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>แบบอนุมัติการลา</ion-title>
    
      </ion-navbar>
    
    </ion-header>


<ion-content padding>
  <p-growl [(value)]="msgs" styleClass="registerGrowl" life="3000"></p-growl>
  
  <p-panel header="บันทึกแบบการอนุมัติ" [toggleable]="true">
    <form [formGroup]="approveTypeForm" (ngSubmit)="onSubmit(approveTypeForm.value)">
  
      <button pButton type="submit" class="ui-button-primary" icon="fa-check" label="{{btnLabel}}" [disabled]="!approveTypeForm.valid"></button>
      <button pButton type="button" icon="fa fa-refresh" class="ui-button-warning" label="Reset" (click)="resetForm()"></button>
      <button pButton *ngIf="isModify" type="button" class="ui-button-danger" icon="fa-close" label="Cancle" (click)="cancleUpdate()"></button>
  
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-2 ">
          </div>
          <div class="ui-grid-col-2 ">
            ชื่อแบบการอนุมัติ :
          </div>
          <div class="ui-grid-col-3 ">
            <input pInputText type="text" formControlName="approveTypeName" placeholder="ชื่อแบบการอนุมัติ" />
          </div>
          <div class="ui-grid-col-3 ">
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!approveTypeForm.controls['approveTypeName'].valid&&approveTypeForm.controls['approveTypeName'].dirty">
              <i class="fa fa-close"></i> กรุณากรอกชื่อแบบการอนุมัติ
            </div>
          </div>
          <div class="ui-grid-col-2 ">
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-2 ">
          </div>
          <div class="ui-grid-col-2 ">
            หน่วยงาน/ฝ่าย :
          </div>
          <div class="ui-grid-col-3 ">
            <app-auto-complete-dropdown #autoCompleteDropdownDepartment></app-auto-complete-dropdown>
          </div>
          <div class="ui-grid-col-3 ">
              <!-- {{!approveTypeForm.controls['departmentCode'].valid }} || {{ approveTypeForm.controls['departmentCode'].dirty}} -->
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!approveTypeForm.controls['departmentCode'].valid&&approveTypeForm.controls['departmentCode'].dirty">
              <i class="fa fa-close"></i> กรุณาเลือก หน่วยงาน/ฝ่าย
            </div>
          </div>
          <div class="ui-grid-col-2 ">
          </div>
        </div>
        <br>
        <!-- <template #clone> -->
        <div formArrayName="approveLevels">
          <div *ngFor="let approveLevelLoop of approveLevel.controls; let i=index">
            <div [formGroupName]="i">
  
              <p-panel header="ผู้อนุมัติระดับ {{i+1}}" [toggleable]="true">
  
                <!--   <input type="text" formControlName="approveLevelNo" data-value={{i+1}}> -->
  
                <div formArrayName="approvers">
                  <div *ngFor="let approversLoop of approveLevelLoop.get('approvers').controls; let j=index">
                    <div [formGroupName]="j">
                      <div class="ui-grid-row">
  
                        <div class="ui-grid-col-2"></div>
  
                        <div class="ui-grid-col-1">
                          {{j+1}} :
                        </div>
  
                        <div class="ui-grid-col-3">
                          <div class="ui-inputgroup">
                            <div class="ui-inputgroup">
                             <!--  <input pInputText type="text" value="{{indexForAddEmpLevel[i][j]}}" placeholder="pHeaderCode" name="'input-'+j"readonly/>
                              <button pButton type="button" icon="fa-search"  style="width: 32px;" (click)="showTableEmployee(approversLoop, approveLevelLoop, i, j)"></button>  
                              -->
                              <common-lov #approveTypeLOV (onSelectTableRow)="onRowSelectEmployee($event, {'approversLoop':approversLoop})"></common-lov>

                            </div>
                          </div>
                          <!-- {{!approversLoop.controls['employee'].valid }} || {{ approversLoop.controls['employee'].dirty}} -->
                          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!approversLoop.controls['employee'].valid&&approversLoop.controls['employee'].dirty">
                                <i class="fa fa-close"></i> กรุณากรอกชื่อผู้อนุมัติ
                              </div>
                        </div>
  
                        <div class="ui-grid-col-1">
                          &nbsp;
                        </div>
  
                        <div class="ui-grid-col-1" *ngIf="j==approveLevelLoop.get('approvers').controls.length-1">
                          <button pButton type="button" class="ui-button-success" label="เพิ่ม" (click)="addApprovers(approveLevelLoop)"></button>
                        </div>
                        <div class="ui-grid-col-1" *ngIf="approveLevelLoop.get('approvers').controls.length-1">
                          <button pButton type="button" class="ui-button-danger" label="ลบ" (click)="removeApprovers(approveLevelLoop,i,j)"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
  
              </p-panel>
              <div class="ui-grid-row">
                <div class="ui-grid-col-11"></div>
                <div class="ui-grid-col-1" *ngIf="i==approveLevel.controls.length-1">
                  <button pButton type="button" class="ui-button-success" label="เพิ่ม" (click)="addApproveLevel()"></button>
                </div>
                <div class="ui-grid-col-1" *ngIf="approveLevel.controls.length!=1 ">
                  <button pButton type="button" class="ui-button-danger" label="ลบ" (click)="removeApproveLevel(i)"></button>
                </div>
              </div>
  
  
            </div>
          </div>
        </div>
      </div>
    </form>
  </p-panel>
  
  <br>
  <!-- Table ApproveType-->
  <!-- <p-dataTable [value]="approveTypeObj" sortMode="multiple" dataKey="approveTypeId" sortField="departmentCode.description" rowGroupMode="rowspan" [(selection)]="selectedApproveType" [rows]="10" [paginator]="true"
    [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" [lazy]="true" [totalRecords]="totalRecordsApproveType" (onLazyLoad)="loadLazyApproveType($event)"
    [globalFilter]="gb" expandableRows="true" #dt> -->
    <p-dataTable [value]="approveTypeObj" dataKey="approveTypeId"  [(selection)]="selectedApproveType" [rows]="10" [paginator]="true"
    [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]" [lazy]="true" [totalRecords]="totalRecordsApproveType" (onLazyLoad)="loadLazyApproveType($event)"
    [globalFilter]="gb" expandableRows="true" #dt>
  
    <p-header>
      <div class="ui-grid-row">
        <div class="ui-grid-col-1">
          ข้อมูลแบบการอนุมัติ
        </div>
      </div>
  
    </p-header>
    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
    <p-column styleClass="col-button" [style]="{'width': '50px'}">
      <ng-template pTemplate="header">
        <button type="button" pButton icon="fa-trash" class="ui-button-danger" (click)="onRemove()"></button>
      </ng-template>
      <ng-template let-approveTypeRow="rowData" pTemplate="body">
        <button type="button" pButton (click)="selectApproveType(approveTypeRow)" icon="fa-edit"></button>
      </ng-template>
    </p-column>
  
    <!-- <p-column field="" hidden="true" header="approveTypeId"></p-column> -->
    <p-column field="departmentCode.description" header="หน่วยงาน" [sortable]="true" [filter]="true" filterPlaceholder="ค้นหา"></p-column>
    
    <p-column field="approveTypeName" header="ชื่อแบบการอนุมัติ" [sortable]="true" [filter]="true" filterPlaceholder="ค้นหา"></p-column>
   
<!--     <p-column field="approveLevelDetail"  header="ผู้อนุมัติระดับ" [sortable]="true" [filter]="true" filterPlaceholder="ค้นหา"></p-column>
 -->  
    <!-- <p-column field="employee.employeePrefixFullName" header="ชื่อผู้อนุมัติ" [sortable]="true" [filter]="true" filterPlaceholder="ค้นหา"></p-column> -->
    <p-column field="approveLevels" header="ผู้อนุมัติระดับ" [sortable]="true" [filter]="true" filterPlaceholder="ค้นหา">
      <ng-template let-col let-approveLevels="rowData" let-ri="rowIndex" pTemplate="body">
        <span *ngIf="approveLevels[col.field]">
          <div *ngFor = "let obj of approveLevels[col.field]">
             <div *ngFor="let objApprovers of obj.approvers">
                ระดับที่ {{obj.approveLevelNo}} : {{objApprovers.employee.employeePrefixFullName}}
             </div>
          </div>
        </span>
      </ng-template>
    </p-column>
  
  
  
  
  
    <p-column styleClass="col-button" [style]="{'width': '50px'}">
      <ng-template pTemplate="header">
        <!-- <button type="button" pButton icon="fa-trash" class="ui-button-danger" (click)="onRemove()"></button> --></ng-template>
      <ng-template let-approveTypeRowDownload="rowData" pTemplate="body">
        <button type="button" pButton (click)="selectApproveTypeDownload(approveTypeRowDownload)" icon="fa fa-cloud-download"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
  <!-- End Of Table ApproveType -->
  
  <!-- Table Employee -->
  <!-- <p-dialog header="เลือกพนักงาน" [(visible)]="displayEmployee" [width]="1080" [height]="600" modal="true">
  
    <p-dataTable
    [style]="{'margin-top':'20px'}" 
    [value]="employeesObj" 
    [rows]="10" 
    [paginator]="true" 
    [pageLinks]="5" 
    [rowsPerPageOptions]="[5,10,20]"
      [stacked]="stacked" 
      [lazy]="true" 
      [totalRecords]="totalRecordsEmployee" 
      (onLazyLoad)="loadLazyEmployee($event)" 
      (onRowSelect)="onRowSelectEmployee($event)"
      selectionMode="single">
  
      <p-column field="employeePrefix.description" header="คำนำหน้า" sortable="true" [filter]="true" filterPlaceholder="ค้นหา"></p-column>
      <p-column field="employeeFullName" header="ชื่อ - นามสกุล" sortable="true" [filter]="true" filterPlaceholder="ค้นหา"></p-column>
      <p-column field="employeeCode" header="รหัสพนักงาน" sortable="true" [filter]="true" filterPlaceholder="ค้นหา"></p-column>
      <p-column field="employeePosition.description" header="ตำแหน่ง" sortable="true" [filter]="true" filterPlaceholder="ค้นหา"></p-column>
      <p-column field="employeeDepartment.description" header="แผนก" sortable="true" [filter]="true" filterPlaceholder="ค้นหา"></p-column>
    </p-dataTable>
  </p-dialog> -->
  <!-- End of Table Employee -->
  
<!--   <app-lov #approveTypeLOV [(display)]="displayEmployee" (onSelectTableRow)="onRowSelectEmployee($event)"></app-lov> 
</ion-content> -->



