<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>จัดการเมนู</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
 
    
              
    

              <p-growl [(value)]="msgs" styleClass="registerGrowl" life="3000"></p-growl>
              


              <p-panel header="จัดการข้อมูลเมนู" [toggleable]="true"  [style]="{'margin-bottom':'20px'}">
                    
                    


                  
                      <form [formGroup]="menuform" (ngSubmit)="onSubmit(menuform.value)">
                        <app-button-control *ngIf="Button_Add=='true'" type="submit" class="ui-button-primary" icon="fa-check" label="{{btnLabel}}" [disabled]="!menuform.valid"></app-button-control>
                       
                        <!-- <button pButton type="submit" class="ui-button-primary" icon="fa-check" label="{{btnLabel}}" [disabled]="!menuform.valid">
                      </button> -->
                      <button pButton type="button" icon="fa fa-refresh" class="ui-button-warning" label="รีเซ็ตข้อมูล" (click)="onResetForm()">
                      </button>
                      
                      <button pButton *ngIf="isModify" type="button" class="ui-button-danger" icon="fa-close" label="ยกเลิก" (click)="cancleUpdate()"></button>


                      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style=""> 

                              <div class="ui-grid-row">
                                      <div class="ui-grid-col-2">
                                          เมนูหลัก *:
                                      </div>
                                      <div class="ui-grid-col-5">
                                          
                                          <div class="ui-inputgroup">
                                                  <input pInputText type="text"  value="{{menuform.controls['parent'].value?.name}}" placeholder="Required" readonly /> 
                                          <button pButton type="button" (click)="showTreemenu()" icon="fa-search" class="ui-button-secondary ui-inputgroup-addon" ></button>
                                          </div>
                                      </div>
                                      <div class="ui-grid-col-7">
                                            <div *ngIf="displayTree">                                                
                                                <p-tree  [value]="files" selectionMode="single" [(selection)]="selectedFiles" (onNodeSelect)="nodeSelect($event)"></p-tree>
                                                <button pButton  type="button" class="ui-button-danger" icon="fa-close" label="Root" (click)="hideTreemenu()"></button>
                                            </div>
                                          <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!menuform.invalid&&!menuform.controls['parent'].valid&&menuform.controls['parent'].dirty">
                                              <i class="fa fa-close"></i> Menu parent is required
                                          </div>
                                      </div>
                                      
                                        
                                      
                                      
                              </div>
                              

                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2">
                                  ชื่อเมนู :
                              </div>
                              <div class="ui-grid-col-5">
                                  <input pInputText type="text" formControlName="name" placeholder="Required" />
                              </div>
                              <div class="ui-grid-col-7">
                                  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!menuform.controls['name'].valid&&menuform.controls['name'].dirty">
                                      <i class="fa fa-close"></i> Name is required
                                  </div>
                              </div>
                          </div>

                          <div class="ui-grid-row">
                              <div class="ui-grid-col-2">
                                  ลิงค์ :
                              </div>
                              <div class="ui-grid-col-5">
                                  <input pInputText type="text" formControlName="link" placeholder="Required" />
                              </div>
                              <div class="ui-grid-col-7">
                                  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!menuform.controls['link'].valid&&menuform.controls['link'].dirty">
                                      <i class="fa fa-close"></i> Link  is required 
                                  </div>
                              </div>
                          </div>

                          <!-- <div class="ui-grid-row">
                                  <div class="ui-grid-col-2">
                                      ภาพเมนู :
                                  </div>
                                  <div class="ui-grid-col-5">
                                      <input pInputText type="text" formControlName="picturePath" placeholder="Required" />
                                  </div>
                                  <div class="ui-grid-col-7">
                                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!menuform.controls['picturePath'].valid&&menuform.controls['picturePath'].dirty">
                                          <i class="fa fa-close"></i> picturePath  is required 
                                      </div>
                                  </div>
                          </div> -->

                          <div class="ui-grid-row">
                                  <div class="ui-grid-col-2">
                                      ไอคอนเมนู :
                                  </div>
                                  <div class="ui-grid-col-5">
                                    <div class="ui-inputgroup">
                                          <i class="{{menuform.controls['menuIcon'].value}} fa-2x"></i><i></i>
                                          <button pButton type="button" (click)="presentIconModal()" icon="fa-search" class="ui-button-secondary ui-inputgroup-addon" ></button>
                                    </div>
                                  </div>
                                  <div class="ui-grid-col-7">
                                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!menuform.controls['menuIcon'].valid&&menuform.controls['menuIcon'].dirty">
                                          <i class="fa fa-close"></i> menuIcon  is required 
                                      </div>
                                  </div>
                          </div>

                          <div class="ui-grid-row">
                                  <div class="ui-grid-col-2">
                                      ลำดับเมนู :
                                  </div>
                                  <div class="ui-grid-col-5">
                                      <input pInputText type="number" formControlName="order" placeholder="Required" />
                                  </div>
                                  <div class="ui-grid-col-7">
                                      <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!menuform.controls['order'].valid&&menuform.controls['order'].dirty">
                                          <i class="fa fa-close"></i> Order  is required number
                                      </div>
                                  </div>
                          </div>
                          
                            <div class="ui-grid-row">
                              <div class="ui-grid-col-2">
                                  สถานะ:
                              </div>
                              
                              <div class="ui-grid-col-5">
                                      <p-inputSwitch formControlName="activeFlag" onLabel="ใช้งาน" offLabel="ไม่ใช้งาน" ></p-inputSwitch>
                                  
                              </div> 
                              <div class="ui-grid-col-7"></div>
                          </div>
                      </div> 
                  </form>  
                  <br>

              </p-panel>         
                  
                  

                  
                  

                  
                  
                  
              

              <p-panel header="ข้อมูลเมนู" [toggleable]="true" [style]="{'margin-bottom':'20px'}"> 
                  <p-dataTable [value]="menu" [rows]="5"  
                          [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[1,5,10,20]"  
                          [globalFilter]="gb" 
                          [stacked]="stacked"
                          [(selection)]="selectedmenu" dataKey="id"  
                          [lazy]="true"  [totalRecords]="totalRecords" (onLazyLoad)="loadMenuLazy($event)"  
                          >
                          
                              
                          
                          <p-header>ตารางข้อมูลเมูนู</p-header>
                      <p-column styleClass="col-button" [style]="{'width': '50px'}">
                          <ng-template pTemplate="header">
                            <app-button-control *ngIf="Button_Remove=='true'" type="button" class="ui-button-danger" icon="fa-trash"  (onClick)="onRemove()"></app-button-control>
                              <!-- <button *ngIf="Button_Remove=='true'" type="button" pButton icon="fa-trash" class="ui-button-danger" (click)="onRemove()"></button> -->
                            </ng-template>
                          <ng-template let-menus="rowData" pTemplate="body">
                              <!-- <button *ngIf="Button_Edit=='true'" type="button" pButton icon="fa-edit" class="ui-button-success" (click)="selectMenu(menus)"></button> -->
                              <app-button-control *ngIf="Button_Edit=='true'" type="button" class="ui-button-success" icon="fa-edit"  (onClick)="selectMenu(menus)"></app-button-control>
                          </ng-template>
                      </p-column>
                      
                      <p-column [style]="{'width':'38px'}" selectionMode="multiple" ></p-column>
                      <p-column field="id"            header="ไอดี เมนู"         [sortable]="true" [filter]="true" filterPlaceholder="Search" [hidden]="true"></p-column>
                      <p-column field="name"          header="ชื่อ เมนู"       [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                      <p-column field="picturePath"   header="ภาพเมนู"      [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                      <p-column field="menuIcon"      header="ไอคอน เมนู"      [sortable]="true" [filter]="true" filterPlaceholder="Search"></p-column>
                      <p-column field="parent.name"   header="เมนูหลัก"      [sortable]="true" [filter]="true" filterPlaceholder="Search">
                          
                      </p-column>
                      <p-column field="activeFlag"    header="สถานะการใช้งาน" [sortable]="true" >
                              <ng-template let-col let-pthCol="rowData" pTemplate="body">                   
                                  <div *ngIf="pthCol[col.field];then content else other_content">ไม่พบข้อมูล</div>                   
                                  <ng-template #content>ใช้งาน</ng-template>
                                  <ng-template #other_content>ไม่ใช้งาน</ng-template>
                              </ng-template>
                      </p-column>

                      
                  </p-dataTable> 
                  
              <br>
              </p-panel>
              <!-- <p-confirmDialog></p-confirmDialog> -->

</ion-content>
