<!--
  Generated template for the EmployeesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Employees</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <p-panel header="Employee Management" [toggleable]="true">

    <form [formGroup]="employeeform" (ngSubmit)="onSubmit(employeeform.value)">
      <button pButton type="submit" [disabled]="!employeeform.valid" class="ui-button-primary" icon="fa-check" label="{{btnLabel}}"></button>
      <button pButton type="button" icon="fa-refresh" label="Reset" (click)="resetForm()" class="ui-button-warning"></button>
      <button pButton *ngIf="isModify" type="button" class="ui-button-danger" icon="fa-close" label="Cancle" (click)="cancleUpdate()"></button>

      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <p-growl class="ui-growl" [value]="msgs"></p-growl>
        <input pInputText type="hidden" formControlName="employeeId" />

        <div class="ui-grid-row">

          <div class="ui-grid-col-2">
            รหัสพนักงาน:*
          </div>
          <div class="ui-grid-col-4">
            <input pInputText type="text" formControlName="employeeCode" placeholder="รหัสพนักงาน" required="true" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['employeeCode'].valid&&employeeform.controls['employeeCode'].dirty">
              <i class="fa fa-close"></i> กรุณากรอก รหัสพนักงาน
            </div>

          </div>

          <div class="ui-grid-col-2">
            อีเมล:*
          </div>
          <div class="ui-grid-col-4">
            <input pInputText type="email" pattern="[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" formControlName="emailAddress"
              placeholder="อีเมล" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['emailAddress'].valid&&employeeform.controls['emailAddress'].dirty">
              <i class="fa fa-close"></i> กรุณากรอก อีเมล
            </div>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            หมายเลขบัตรประชาชน:*
          </div>
          <div class="ui-grid-col-4">
            <p-inputMask formControlName="identificationNumber" mask="9-9999-99999-99-9" placeholder="หมายเลขบัตรประชาชน"></p-inputMask>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['identificationNumber'].valid&&employeeform.controls['identificationNumber'].dirty">
              <i class="fa fa-close"></i> กรุณากรอก หมายเลขบัตรประชาชน
            </div>
          </div>

          <div class="ui-grid-col-2">
            เบอร์โทรศัพท์:*
          </div>
          <div class="ui-grid-col-4">
            <p-inputMask formControlName="employeeTelNo" mask="999-999-9999" placeholder="เบอร์โทรศัพท์"></p-inputMask>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['employeeTelNo'].valid&&employeeform.controls['employeeTelNo'].dirty">
              <i class="fa fa-close"></i> กรุณากรอก เบอร์โทรศัพท์
            </div>
          </div>

        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            คำนำหน้า:*
          </div>
          <div class="ui-grid-col-4">
            <app-auto-complete-dropdown #autoCompleteDropdownPrefix></app-auto-complete-dropdown>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['employeePrefix'].valid&&employeeform.controls['employeePrefix'].dirty">
              <i class="fa fa-close"></i> กรุณาเลือก คำนำหน้า
            </div>
          </div>

          <div class="ui-grid-col-2">
            วันที่เริ่มงาน:*
          </div>
          <div class="ui-grid-col-4">
            <p-calendar formControlName="employeeStartDate" (onSelect)="onChangeStartDate($event)" [showIcon]="true" styleClass="calendarClass "
              [maxDate]="maxDate" [locale]="th" dateFormat="dd/mm/yy" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030"
              placeholder="วันที่เริ่มงาน"></p-calendar>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['employeeStartDate'].valid&&employeeform.controls['employeeStartDate'].dirty">
              <i class="fa fa-close"></i> กรุณากรอก วันที่เริ่มงาน
            </div>
          </div>


        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            ชื่อ:*
          </div>
          <div class="ui-grid-col-4">
            <input pInputText type="text" formControlName="employeeFirstName" placeholder="ชื่อ" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['employeeFirstName'].valid&&employeeform.controls['employeeFirstName'].dirty">
              <i class="fa fa-close"></i> กรุณากรอก ชื่อ
            </div>
          </div>

          <div class="ui-grid-col-2">
            สถานะทดลองงาน:*
          </div>
          <div class="ui-grid-col-4">
            <p-inputSwitch onLabel="ใช่" offLabel="ไม่ใช่" formControlName="probationFlag"></p-inputSwitch>
          </div>

        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            นามสกุล:*
          </div>
          <div class="ui-grid-col-4">
            <input pInputText type="text" formControlName="employeeLastName" placeholder="นามสกุล" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['employeeLastName'].valid&&employeeform.controls['employeeLastName'].dirty">
              <i class="fa fa-close"></i> กรุณากรอก นามสกุล
            </div>
          </div>

          <div class="ui-grid-col-2">
            วันที่ลาออก:*
          </div>
          <div class="ui-grid-col-4">
            <p-calendar formControlName="employeeResignDate" (onClearClick)="onClearClick()" (onSelect)="onChangeResignDate($event)"
              [showIcon]="true" [minDate]="minDate" styleClass="calendarClass" [readonlyInput]="false" [locale]="th" dateFormat="dd/mm/yy"
              [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" [disabled]="disabled" placeholder="วันที่ลาออก"
              showButtonBar="true"></p-calendar>
          </div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            ชื่อเล่น:*
          </div>
          <div class="ui-grid-col-4">
            <input pInputText type="text" formControlName="employeeNickname" placeholder="ชื่อเล่น" />
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['employeeNickname'].valid&&employeeform.controls['employeeNickname'].dirty">
              <i class="fa fa-close"></i> กรุณากรอก ชื่อเล่น
            </div>
          </div>

          <div class="ui-grid-col-2">
            สาเหตุที่ออก:*
          </div>
          <div class="ui-grid-col-4">
            <app-auto-complete-dropdown #autoCompleteDropdownCauseOfResign></app-auto-complete-dropdown>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['causeOfResign'].valid&&employeeform.controls['causeOfResign'].dirty">
              <i class="fa fa-close"></i> กรุณาเลือก สาเหตุที่ออก
            </div>
          </div>

        </div>



        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            ตำแหน่ง:*
          </div>
          <div class="ui-grid-col-4">
            <app-auto-complete-dropdown #autoCompleteDropdownPosition></app-auto-complete-dropdown>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['employeePosition'].valid&&employeeform.controls['employeePosition'].dirty">
              <i class="fa fa-close"></i> กรุณาเลือก ตำแหน่ง
            </div>
          </div>

          <div class="ui-grid-col-2">
            สถานะ:*
          </div>
          <div class="ui-grid-col-4">
            <p-inputSwitch onLabel="ใช้งาน" offLabel="ไม่ใช้งาน" formControlName="activeFlag"></p-inputSwitch>
          </div>


        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            หน่วยงาน/แผนก:*
          </div>
          <div class="ui-grid-col-4">
            <app-auto-complete-dropdown #autoCompleteDropdownDepartment></app-auto-complete-dropdown>
            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!employeeform.controls['employeeDepartment'].valid&&employeeform.controls['employeeDepartment'].dirty">
              <i class="fa fa-close"></i> กรุณาเลือก หน่วยงาน/แผนก
            </div>
          </div>

          <div class="ui-grid-col-2" *ngIf="isModify">
            อายุงาน:*
          </div>
          <div class="ui-grid-col-4">
            <b>{{workingAge}}</b>
          </div>

        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            ที่อยู่:*
          </div>
          <div class="ui-grid-col-4">

            <textarea pInputTextarea type="text" formControlName="employeeAddress" placeholder="ที่อยู่"></textarea>
          </div>

          <div class="ui-grid-col-2" *ngIf="isModify">
            สถานะการปฏิบัติงาน:*
          </div>
          <div class="ui-grid-col-4" *ngIf="isModify">
            <b *ngIf="workStatus == null" style="color:yellow;">{{workStatusText}}</b>
            <b *ngIf="workStatus == true" style="color:green;">{{workStatusText}}</b>
            <b *ngIf="workStatus == false" style="color:red;">{{workStatusText}}</b>
          </div>


        </div>
      </div>
    </form>
  </p-panel>

  <div class="ui-g">
    <p-dataTable [style]="{'margin-top':'20px'}" [value]="employeesObj" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20]"
      [stacked]="stacked" [(selection)]="selectedEmployees" [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadEmployeesLazy($event)">
      <p-header>List of Employee</p-header>

      <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

      <p-column styleClass="col-button" [style]="{'width':'50px'}" header="Action">
        <ng-template pTemplate="header">
          <button type="button" pButton icon="fa-trash" class="ui-button-danger" (click)="onRemove()"></button></ng-template>
        <ng-template let-employee="rowData" pTemplate="body">
          <button type="button" pButton (click)="selectEmployee(employee)" icon="fa-edit"></button>
        </ng-template>
      </p-column>

      <p-column field="employeeCode" header="รหัสพนักงาน" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="employeeFullName" header="ชื่อ-สกุล" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="employeePosition.description" header="ตำแหน่ง" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>
      <p-column field="employeeDepartment.description" header="หน่วยงาน/แผนก" sortable="true" [filter]="true" filterPlaceholder="Search"></p-column>

      <p-column field="employeeStartDate" header="วันที่เริ่มงาน" sortable="true" [filter]="true" filterPlaceholder="Search">
        <ng-template let-col let-emp="rowData" let-ri="rowIndex" pTemplate="body">
          <span *ngIf="emp[col.field]">{{emp[col.field] | date: 'dd/MM/yyyy'}}</span>
        </ng-template>
      </p-column>

      <p-column field="workingAge" header="อายุงาน" sortable="true" [filter]="true" filterPlaceholder="Search"> </p-column>

      <p-column field="workStatusText" header="สถานะ" sortable="true" [filter]="true" filterPlaceholder="Search"> </p-column>



    </p-dataTable>

  </div>
</ion-content>